<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello  <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<h1>Welcome!  <%= title %></h1>
<p><a href="post">Post</a></p>
<p><a href="wall">Story Wall</a></p>
</body>
</html>