<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/post.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Say Something</p>

    <form id="img_form" action="" method="POST" enctype="multipart/form-data">
    <input type="file" accept="image/*" name="file" id="file" value = "file" onchange="changeImg()">
    </form>
    <form id="xForm" onsubmit="onSubmit()">
    <p><select name="user">
               <option value ="user1">User1</option>
               <option value ="user2">User2</option>
               <option value="user3">User3</option>
               <option value="user4">User4</option>
             </select>
    </p>
    <p><textarea rows="7" cols="30" name="text" id="text" maxlength="150">This is a test !</textarea></p>
    <img id="preview">
    <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>
  </body>

  <label id="results" style="margin-top:30px"></label>
</html>
