<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://malsup.github.io/jquery.form.js"></script>
  <script src="javascripts/database.js"></script>
  <script src="javascripts/post.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Say Something</p>

<!--<form method="post" action="" class="form-horizontal" enctype="multipart/form-data">-->
  <input type="file" name="file" id="file" class="form-control" onchange="uploadPicture()">
<!--  <button id="picUpload" name="picUpload" class="btn btn-primary" type="button">upload</button>-->
<!--</form>-->

<form id="xForm" onsubmit="onSubmit()">
  <p><textarea rows="7" cols="30" name="text" id="text" maxlength="150">This is a test !</textarea></p>
  <p hidden><input type="text" name="picture" id="picture" value=""></p>
  <img id="preview">
  <p><input type="submit" name="g" value="Submit" id="g"></p>
</form>
</body>

<label id="results" style="margin-top:30px"></label>
</html>
