<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/wall.js"></script>

  </head>
  <body onload = "initPostData()">
  <label id="results" style="margin-top:30px"></label>
  </body>
</html>
